.skills {
  width: 100%;
  padding: 20px;
}

.skills-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
  text-align: center;
}

.skills-content-title {
  font-size: 1.5em;
  font-weight: 500;
  margin-bottom: 10px;
  text-align: center;
}

.skills-content-description {
  color: var(--grey-color);
  margin-bottom: 40px;
}

.skills-content-items {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.skill-item {
  background-color: var(--background-color-2);
  border: 1px solid transparent;
  border-radius: 10px;
  width: 100%;
  max-width: 350px;
  height: 75px;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
}

.skill-item:hover {
  border: 1px solid var(--secondary-color);
  filter: brightness(1.25);
}

.item-image {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  padding: 10px;
  background-color: var(--secondary-color);
  flex-shrink: 0;
}

.item-title {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 14px;
  align-items: flex-start;
}

.item-title span {
  color: var(--grey-color);
  margin-top: -5px;
}
